* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #e7e7e7;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(116, 78, 255);
    padding: 10px;
}

header > img {
    width: 50px;
}

header > h1 {
    color: white;
    font-weight: bold;
}

header > p {
    color: white;
    font-weight: bold;
}